In [5]:
import numpy as np
import pandas as pd

np.random.seed(42)

data = pd.read_csv('/content/median_fillna.csv.xls')
data

real_mean = round(df['co2'].mean(),3)
print(real_mean)
df

595.803

,Unnamed: 0,Unnamed: 0.1,iso_code,country,year,co2,co2_per_capita,trade_co2,cement_co2,cement_co2_per_capita,...,ghg_excluding_lucf_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,population,gdp,primary_energy_consumption,energy_per_capita,energy_per_gdp
0,0,52,AFG,Afghanistan,2001,0.798,0.037,2.605,0.007,0.000,...,0.624,9.360,0.433,3.220,0.149,21606992.0,1.102127e+10,4.664,215.860,0.423
1,247,53,AFG,Afghanistan,2002,1.052,0.046,2.605,0.011,0.000,...,0.712,11.190,0.495,3.700,0.164,22600774.0,1.880487e+10,4.428,195.930,0.235
2,494,54,AFG,Afghanistan,2003,1.186,0.050,2.605,0.010,0.000,...,0.709,11.480,0.485,3.840,0.162,23680871.0,2.107434e+10,5.208,219.910,0.247
3,741,55,AFG,Afghanistan,2004,0.889,0.036,2.605,0.010,0.000,...,0.668,11.460,0.463,3.810,0.154,24726689.0,2.233257e+10,4.810,194.542,0.215
4,988,56,AFG,Afghanistan,2005,1.303,0.051,2.605,0.006,0.000,...,0.678,11.670,0.455,3.970,0.155,25654274.0,2.539769e+10,6.153,239.855,0.242
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4946,3960,25984,ZWE,Zimbabwe,2016,10.738,0.765,1.415,0.639,0.046,...,2.076,11.500,0.820,6.210,0.443,14030338.0,2.096179e+10,46.666,3326.073,2.226
4947,4208,25985,ZWE,Zimbabwe,2017,9.582,0.673,1.666,0.678,0.048,...,2.023,11.620,0.816,6.350,0.446,14236599.0,2.194784e+10,45.936,3226.617,2.093
4948,4456,25986,ZWE,Zimbabwe,2018,11.854,0.821,1.308,0.697,0.048,...,2.173,11.960,0.828,6.590,0.456,14438812.0,2.271535e+10,47.502,3289.887,2.091
4949,4703,25987,ZWE,Zimbabwe,2019,10.949,0.748,1.473,0.697,0.048,...,4.632,8.585,1.013,3.515,0.370,14645473.0,7.540152e+10,49.427,3374.877,1.168
4950,4950,25988,ZWE,Zimbabwe,2020,10.531,0.709,2.605,0.697,0.047,...,4.632,8.585,1.013,3.515,0.370,14862927.0,7.540152e+10,54.680,15333.018,1.168

In [6]:
simple_random_sample = df.sample(n=4).sort_values(by='iso_code')
simple_random_mean = round(simple_random_sample['co2'].mean(),3)
print(simple_random_mean)
simple_random_sample

6.785

,Unnamed: 0,Unnamed: 0.1,iso_code,country,year,co2,co2_per_capita,trade_co2,cement_co2,cement_co2_per_capita,...,ghg_excluding_lucf_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,population,gdp,primary_energy_consumption,energy_per_capita,energy_per_gdp
230,2484,1043,ABW,Aruba,2011,2.499,24.486,2.605,1.341,0.118,...,4.632,8.585,1.013,3.515,0.370,102050.0,7.540152e+10,4.262,41768.622,1.168
1371,3285,6873,EST,Estonia,2014,18.885,14.348,-0.849,0.422,0.320,...,15.605,1.130,0.858,1.370,1.041,1316273.0,3.103787e+10,75.257,57173.987,2.425
1957,4800,10413,HTI,Haiti,2020,2.920,0.256,2.605,0.078,0.007,...,4.632,8.585,1.013,3.515,0.370,11402533.0,7.540152e+10,54.680,15333.018,1.168
3464,3390,18084,PSE,Palestine,2014,2.836,0.640,2.605,1.341,0.118,...,4.632,8.585,1.013,3.515,0.370,4428634.0,2.108459e+10,16.496,3724.822,0.782

In [7]:
def systematic_sampling(data, step):
    
    indexes = np.arange(0,len(data),step=step)
    systematic_sample = data.iloc[indexes]
    return systematic_sample
    
systematic_sample = systematic_sampling(data, 3)

systematic_mean = round(systematic_sample['co2'].mean(),3)

systematic_sample

,Unnamed: 0,Unnamed: 0.1,iso_code,country,year,co2,co2_per_capita,trade_co2,cement_co2,cement_co2_per_capita,...,ghg_excluding_lucf_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,population,gdp,primary_energy_consumption,energy_per_capita,energy_per_gdp
0,0,52,AFG,Afghanistan,2001,0.798,0.037,2.605,0.007,0.000,...,0.624,9.360,0.433,3.220,0.149,21606992.0,1.102127e+10,4.664,215.860,0.423
3,741,55,AFG,Afghanistan,2004,0.889,0.036,2.605,0.010,0.000,...,0.668,11.460,0.463,3.810,0.154,24726689.0,2.233257e+10,4.810,194.542,0.215
6,1482,58,AFG,Afghanistan,2007,2.269,0.084,2.605,0.012,0.000,...,0.918,18.100,0.668,4.250,0.157,27100542.0,3.450753e+10,10.039,370.438,0.291
9,2225,61,AFG,Afghanistan,2010,8.398,0.288,2.605,0.015,0.000,...,1.539,30.010,1.028,5.990,0.205,29185511.0,4.739942e+10,34.740,1190.324,0.733
12,2969,64,AFG,Afghanistan,2013,8.441,0.262,2.605,0.036,0.001,...,2.318,58.130,1.801,7.720,0.239,32269592.0,6.299370e+10,36.489,1130.743,0.579
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4938,1976,25976,ZWE,Zimbabwe,2008,7.720,0.624,1.575,0.154,0.012,...,1.951,10.560,0.853,5.970,0.482,12379553.0,1.505022e+10,41.728,3370.733,2.773
4941,2720,25979,ZWE,Zimbabwe,2011,9.744,0.756,1.046,0.382,0.030,...,2.369,11.900,0.923,6.950,0.539,12894323.0,1.955407e+10,50.290,3900.153,2.572
4944,3464,25982,ZWE,Zimbabwe,2014,11.906,0.876,1.261,0.496,0.036,...,2.160,10.900,0.802,5.930,0.436,13586710.0,2.122250e+10,54.604,4018.925,2.573
4947,4208,25985,ZWE,Zimbabwe,2017,9.582,0.673,1.666,0.678,0.048,...,2.023,11.620,0.816,6.350,0.446,14236599.0,2.194784e+10,45.936,3226.617,2.093
4950,4950,25988,ZWE,Zimbabwe,2020,10.531,0.709,2.605,0.697,0.047,...,4.632,8.585,1.013,3.515,0.370,14862927.0,7.540152e+10,54.680,15333.018,1.168

In [15]:
outcomes = {'sample_mean':[simple_random_mean,systematic_mean],
           'real_mean':real_mean}


outcomes = pd.DataFrame(outcomes, index=['Simple Random Sampling','Systematic Sampling'])

outcomes['abs_error'] = abs(outcomes['real_mean'] - outcomes['sample_mean'])

outcomes.sort_values(by='abs_error')

                        sample_mean  real_mean  abs_error
Systematic Sampling         600.551    595.803      4.748
Simple Random Sampling        6.785    595.803    589.018